.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.page-not-found img {
    max-width: 800px;
    max-height: 600px;
    margin: 20px 0;
}